body {
    margin: 0 auto;
    max-width: 1000px;
  }

.error {
    color: red;

}
.success {
    color: green;
}

#frelper{
    font-size: 75px;    
    border-top: 10px;
    font-weight: 900;
}

#profile_pics{
    transform: scale(0.25);
}