{% extends 'layout.html'%}

{% block title%}Carrier sign up {%endblock%}
{%block main%}

<form method="POST">
    <h3>Signing you up as a CARRIER</h3>
    <div>
        <label for="firstName">First Name:</label>
        <input type="text" name="firstName" placeholder="Enter First Name">
        <label for="lastName">Last Name:</label>
        <input type="text" name="lastName" placeholder="Enter Last Name">
    </div>
    <div>
        <label for="email">Email Address:</label>
        <input type="email" name="email" placeholder="Enter Email">
        <label for="phoneNumber">Phone:</label>
        <input type="text" name="phoneNumber" placeholder="Enter phone number">
    </div>
    <div>
        <label for="companyName">Company Name:</label>
        <input type="text" name="companyName" placeholder="Company Name:">
    </div>
    <div>
        <label for="password1">Password:</label>
        <input type="password" name="password1" placeholder="Enter Password:">

        <label for="password2">Re-Enter Password:</label>
        <input type="password" name="password2" placeholder="Re-Enter Password:">
    </div>
    <br>
    <div><button type="submit">Submit</button></div>
</form>
{%endblock%}