{% extends 'layout.html'%}
{% block title%}SIGN UP {%endblock%}

{%block main%}
<div class="container">
    <div class="form-container">
        <h1>Sign up</h1>
        <p>Are you a</p>
        <form action="/shipper_signup">
            <button type="submit" class="btn btn-secondary">Shipper</button>
        </form>
        <p>or</p>
        <form action="/carrier_signup">
            <button type="submit" class="btn btn-secondary">Carrier</button>
        </form>
    </div>
</div>

{%endblock%}